{% extends 'homework2/base.html' %}

{% block content %}

<h1>Заказы пользователя id: {{ client }}</h1>
<span>Период:</span>
<select id="main" name="main" class="main_field" aria-required="true">
    <option value="one">
        7 дней (неделю)
    </option>
    <option value="two">
        30 дней (месяц)
    </option>
    <option value="three" selected="selected">
        365 дней (год)
    </option>
</select>
<hr>
<div class="hide one">
    {% for a, b in products.items %}
    {% if b > time.0 %}
      <li>
          {{ a }} - {{ b }}
      </li>
    {% endif %}
    {% endfor %}
</div>
<div class="hide two">
    {% for a, b in products.items %}
    {% if b > time.1 %}
      <li>
          {{ a }} - {{ b }}
      </li>
    {% endif %}
    {% endfor %}
</div>
<div class="hide three">
    {% for a, b in products.items %}
    {% if b > time.2 %}
      <li>
          {{ a }} - {{ b }}
      </li>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}